

.back-color-btn{
    background-color: #5BA505!important;
    padding: 8px;
}
.Appbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.Appbar h1{
    font-size: 1.3rem;
    cursor: pointer;
}
.detail-section-body{
    margin-top: 100px;
}


.driver_heading{
    color: #222;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
    border-bottom: 1px dotted #999;
    
}
.box_drivers{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    /* background-color: #F5F5F5; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 3px;
    /* box-shadow: 0 0 03px #999; */
    padding: 12px 22px;
}
.drivers{
    display: flex;
    
    /* justify-content: space-between; */
}
.drivers h1{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 700;

    width: 50%;
    color: #333;
}
.drivers p{
    float: right;
    font-weight: 600;
}
.total{
    background: linear-gradient(217deg, #5BA505, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #5BA505, #5BA505 70.71%),
            linear-gradient(336deg, #5BA505, rgba(0,0,255,0) 70.71%);
            color: white;
            font-size: 22px;
            font-family: sans-serif;
            padding: 12px;
            padding-left: 33px;
            margin: 12px 0px;
}
tr:nth-child(even) {background: #CCC;}

.total-amount{
    display: flex;
    justify-content: space-evenly;
}